<footer class="bg-dark py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center text-md-left">
          <p class="text-white mb-0">Copyright &copy; FREEAirT</p>
        </div>
        <div class="col-md-8 text-center text-md-right">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a href="{{ url_for('terms') }}" class="text-white">Terms of Use</a>
            </li>
            <li class="list-inline-item">
              <a href="{{ url_for('privacy') }}" class="text-white">Privacy</a>
            </li>
            <li class="list-inline-item">
              <a href="{{ url_for('dmca') }}" class="text-white">DMCA</a>
            </li>
          </ul>
        </div>
      </div>
      <h6>Education is free!, must free &hearts; </h6>
    </div>
  </footer>
