{% extends 'header.html' %}
{% block content %}
<center>
<h2>Reset password</h2>
</center>
<hr>
{% if msg %}
<div class="alert alert-danger form">{{ msg }}</div>
{% endif %}
<div class="form">
<form action="{{ url_for('reset') }} " method="POST">
    <label for="username">username</label><br>
    <input type="text" name="user" value="{{ current_user.username }}" disabled><br><br>

    <lable for="password">Current Pass</lable><br>
    <input type="text" name="password" value="{{ current_user.email }}" disabled><br><br>

    <lable for="email">Email:</lable><br>
    <input type="text" name="email" value="Enter"><br><br>

    <lable for="newpassword">New Pass</lable><br>
    <input type="text" name="new_pass"><br><br>

    <button type="submit" class="btn btn-light">Submit</button><br>
    <br>
</form>
</div>
<style>
    .form{
        display: flex;
    justify-content: center;
  }
</style>
{% endblock %}
